<div class="container" id="i18_about_me">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="about_me.about_me">About Me</span></h1>
            <!-- <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod.</p> -->
        </div>
    </div>
    <div class="row">
        <!-- python -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-java"></i>
                </div>
            </div>
        </div>
        <!-- linux -->
        <div class="col-xs-2 wow fadeInLeft">
            <div class="team-member">
                <div class="vote-icon">
                    <i class="icon-hadoop"></i>
                </div>
            </div>
        </div>
        <!-- avatar -->
        <div class="col-xs-4">
            <div class="team-member wow zoomIn">
                <img src="{{ site.author.head_img | prepend: site.baseurl }}" height="110" width="110" class="img-responsive img-circle" alt="">
                <h4><span class="navy">{{ site.author.last_name }}</span> {{ site.author.first_name }}</h4>
                <ul class="list-inline social-icon">
                    <li>
                        <a href="https://github.com/{{ site.author.github_username }}" target="blank"><i class="fa fa-github"></i></a>
                    </li>
                    <li>
                        <a href="mailto:{{ site.author.email }}"><i class="fa fa-envelope-o"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-share-alt"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- html -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align:left;">
                    <i class="icon-python"></i>
                </div>
            </div>
        </div>
        <!-- docker -->
        <div class="col-xs-2 wow fadeInRight">
            <div class="team-member">
                <div class="vote-icon" style="text-align:left;">
                    <i class="icon-shell"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="social-share col-lg-offset-5" data-sites="wechat,qq,qzone,weibo,douban"></div> 
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg wow zoomIn">
            <p><span data-i18n="about_me.des">{{ site.author.desc }}</span></p>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/static/css/share.min.css">
<script src="http://apps.bdimg.com/libs/jquery/1.8.2/jquery.js"></script>
<script src="/static/js/jquery.share.min.js"></script>
<script>
  var $config = {
      url                 : 'https://kinglyjn.github.io', // 网址，默认使用 window.location.href
      source              : 'https://kinglyjn.github.io', // 来源（QQ空间会用到）, 默认读取head标签：<meta name="site" content="http://overtrue" />
      title               : 'KinglyJn Blog', // 标题，默认读取 document.title 或者 <meta name="title" content="share.js" />
      description         : 'KinglyJn Blog Desc', // 描述, 默认读取head标签：<meta name="description" content="PHP弱类型的实现原理分析" />
      image               : 'https://kinglyjn.github.io/static/img/landing/angularjs.png', // 图片, 默认取网页中第一个img标签
      sites               : ['qzone', 'qq', 'weibo','wechat','douban'], // 启用的站点
      disabled            : ['google', 'facebook', 'twitter'], // 禁用的站点
      wechatQrcodeTitle   : "微信扫一扫：分享", // 微信二维码提示文字
      wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
   };
  $('.social-share').share($config);
</script>
