<div class="container" id="i18_link">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span data-i18n="link.link">Link</span></h1>
        </div>
    </div>

    <div class="row">
        <div class="social-share" style="text-align:center;" data-sites="wechat,qq,qzone,weibo,douban"></div> 
    </div>

    <div class="row">
    {% for link in site.data.links %}
        {% assign loopindex = forloop.index | modulo: 3 %}
        {% if forloop.last %}
            {% if forloop.last == forloop.first %}
        <div class="col-sm-4 col-sm-offset-4 wow zoomIn">
                {% else %}
        <div class="col-sm-4 wow {% if loopindex != 0 %} col-sm-offset-4 fadeInRight {% else %} zoomIn {% endif %}">
            {% endif %}
        {% else %}
        <div class="col-sm-4 wow {% if loopindex == 1 %} fadeInLeft {% else if loopindex == 2 %} zoomIn {% else %} fadeInRight {% endif %}">
        {% endif %}
        <div class="team-member">
            <h4><span class="navy">{{ link.last_name }}</span> {{ link.first_name }}</h4>
            <p>{{ link.desc }}</p>
            <ul class="list-inline social-icon">
                <li><a href="{{ link.website }}" target="blank"><i class="fa fa-link"></i></a>
                </li>
                <li><a href="mailto:{{ link.email }}"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
        </div>
        </div>
    {% endfor %}
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
            <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
        </div>
    </div>
</div>


<!--分享-->
<link rel="stylesheet" href="/static/css/share.min.css">
<script src="/static/js/jquery.share.min.js"></script>
<script>
  var $config = {
      url: 'https://kinglyjn.github.io', // 网址，默认使用 window.location.href
      source: 'https://kinglyjn.github.io', // 来源（QQ空间会用到）, 默认读取head标签：<meta name="site" content="http://overtrue" />
      title: 'KinglyJn Blog | A Lazy Man', // 标题，默认读取 document.title 或者 <meta name="title" content="share.js" />
      description: 'A Lazy Man, intend to _select * _from t_woman _where (age _between 20 _and 30) _and (married=false) _and (feature is fashion dignified) _and (bodyMind is healthy), gentle _and caring disposition is better, donot bother if you are not pure-hearted...', // 描述, 默认读取head标签：<meta name="description" content="PHP弱类型的实现原理分析" />
      image: 'https://kinglyjn.github.io/static/img/landing/header_one.jpg', // 图片, 默认取网页中第一个img标签
      sites: ['qzone', 'qq', 'weibo','wechat','douban'], // 启用的站点
      //disabled: ['google', 'facebook', 'twitter'], // 禁用的站点
      wechatQrcodeTitle: "微信扫一扫：分享", // 微信二维码提示文字
      wechatQrcodeHelper: '<p style="font-size:10px;">微信里点“发现”，扫一下</p><p style="font-size:10px;">二维码便可将本文分享至朋友圈。</p>',
   };
  $('.social-share').share($config);
</script>
