<!--在head.html中配置的是煤业显示10条-->
<!--如果大于10条就显示分页-->
{% if counter > 10 %}
    <div class="col-lg-6 col-lg-offset-5">
		<div class="pag-holder" style="float:left; display:inline;"></div>
		<div class="pag-jump" style="margin:22px 160px">
			转到
			<input type="text" value="1" style="width:30px;"/>&nbsp;页
			<button type="button" class="btn btn-default btn-xs" style="margin-left:10px;">确定</button>
		</div>
	</div>
{% endif %}
{% if counter == 0 %}
    <div class="col-lg-8 col-lg-offset-2">
		<p>Sorry,no blog！</p>
    </div>
{% endif %}
